img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

body {
    height: 200vh;
    /* display: flex;
    flex-direction: column; */
    background-color: rgb(142, 138, 136);

}

h1 {
    text-align: center;
    color: orangered;
}

h2 {
    text-align: center;
    color: rgb(51, 29, 7);
}

h3 {
    text-align: center;
    color: orangered
}

.Hunger {
    font-family: cursive;
    color: orangered;
    
}

.Sleep {
    font-family: cursive;
    color: rgb(51, 29, 7);
    font-style: bold;
}

.Boredom {
    font-family: cursive;
    color: orangered
}



